{% extends "base.html" %}

{% block content %}
<div class="py-4">
  <h2 class="mb-4 text-center">Serviciile noastre</h2>
  
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Manichiura clasica </h5>
          <p class="card-text">Descriere nebuna.</p>
          <p class="text-muted">50 lei · 30 minute</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Manichiura cu Gel, de aia mai scumpa</h5>
          <p class="card-text">Descriere bomba.</p>
          <p class="text-muted">70 lei · 60 minute</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Unghii de alea mari cu arta pe ele</h5>
          <p class="card-text">Descriere si mai bomba.</p>
          <p class="text-muted">110 lei · 100 minute</p>
        </div>
      </div>
    </div>
    
    <!-- Add more services as needed -->
  </div>
</div>
{% endblock %}
